# docker-compose.yml

services:
  db:
    image: postgres:13
    environment:
      TZ: Asia/Tehran
      POSTGRES_USER: tuttyuser
      POSTGRES_PASSWORD: tuttypassword
      POSTGRES_DB: tuttydb
    volumes:
      # [DATA] Pointing to your existing database
      - ../captioni_data/db_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U tuttyuser -d tuttydb"]
      interval: 5s
      timeout: 5s
      retries: 5

  nginx:
    image: nginx:latest
    depends_on:
      - frontend
      - backend
    ports:
      - "${NGINX_PORT}:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro

  redis:
    image: redis:7-alpine
    environment:
      TZ: Asia/Tehran

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      TZ: Asia/Tehran
    restart: unless-stopped
    volumes:
      # [SECURITY] Mount code as Read-Only (:ro)
      - ./backend:/app:ro
      # [DATA] Mount your ACTUAL data folders as Writable
      - ../captioni_data/uploads_data:/app/uploads
      - ../captioni_data/logs:/app/logs
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    env_file:
      - ./backend/.env
    dns:
      - 8.8.8.8
      - 8.8.4.4
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 60s
      timeout: 20s
      retries: 3

  celery_worker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    environment:
      TZ: Asia/Tehran
    command: celery -A celery_config worker -l info --concurrency=5
    volumes:
      # [SECURITY] Code is Read-Only
      - ./backend:/app:ro
      # [DATA] Data is Writable
      - ../captioni_data/uploads_data:/app/uploads
      - ../captioni_data/logs:/app/logs
    depends_on:
      - backend
      - redis
    env_file:
      - ./backend/.env

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: /api
        NEXT_PUBLIC_GOOGLE_CLIENT_ID: 201837583381-o18ot139ujp2rscl6a0pgo6l4uik5jnc.apps.googleusercontent.com
    environment:
      NODE_ENV: production
      TZ: Asia/Tehran
      NEXT_PUBLIC_API_URL: /api
      NEXT_PUBLIC_GOOGLE_CLIENT_ID: 201837583381-o18ot139ujp2rscl6a0pgo6l4uik5jnc.apps.googleusercontent.com
    volumes:
      # [SECURITY] Mount source as Read-Only
      - ./frontend:/app:ro
      # [FUNCTIONALITY] Allow app to manage its own cache internally
      - /app/node_modules
      - /app/.next
    depends_on:
      - backend
      - redis